.controller {
  display: grid;
  row-gap: 0.5rem;

  @media screen and (min-width: 850px) {
    display: flex;
    column-gap: 0.5rem;

  }

  &__buttons {
    //border: 1px solid #888;
    //width: 50%;
    cursor: pointer;

    button {
      border: none;
      padding: .5rem;
      text-transform: lowercase;
      font-style: italic;
      cursor: pointer;
    }
  }
}

.gender--btn,
.payment--btn {}